@import "@/design/methodCss";
@import "@/design/uitl";


/* indextext
---------------------------------------------------------------- */
.indextext {
  @include initialize($w, null, 1px, null, $ml, null, null);

  /* 底部信息 */
  .indextest_copyright {
    @apply shadow rounded;
    @apply cursor-pointer bg-white text-black;

    .indextest_copyright_title {
      @apply p-1;

      div {
        border-bottom: 1px dashed #f1f1f1;

        @apply p-1 m-1 text-sm font-light;
      }
    }

    .indextest_comment {
      @apply flex;

      .indextest_comment_text {
        @apply bg-blue-200 shadow rounded-sm;
      }

      div {
        @apply px-1 py-1 m-2 text-sm font-light text-center;
      }
    }
  }

  .icons {
    @include w-h(1.5em, 1.5em);
  }

  /* 返回上一页 */
  .indexText_title {
    position: relative;

    @include initialize(null, 40px, 6.5%, null, null, null, #ffffff);

    @apply shadow rounded cursor-pointer;

    .ant-page-header-heading-title {
      @apply text-lg;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ant-page-header {
      @apply shadow-sm rounded-sm;
    }

    .ant-page-header-back {
      @apply mt-0;
    }
  }

  //  .blog {
  //    @include blogs;
  //  }
}

@screen xp {
  .indextext {
    width: 100%;

    @apply ml-0;
  }
}
