 @import "../../assets/sass/com";
 @import "../../assets/sass/uitl";

 #index_sidebar {
   @apply fixed bg-gray-100 shadow;
   @include excursion($Text_height, null, null, $sidebar_r_r);
   @include w-h(20.4%, 93%);
   @apply ml-3 overflow-auto;

   .index_s_main {
     @include w-h(100%, 100%);

     .index-si-describe {
       width: 97%;
       color: #666;
       @apply mb-2 shadow rounded m-auto;
       @apply bg-white text-center;

       div>p {
         @apply px-1 py-2 m-1;
         @apply bg-gray-50 text-sm;
       }
     }

     .index-si-count {
       width: 97%;
       @apply p-1 mb-2 shadow rounded m-auto cursor-pointer;
       @apply bg-white;

     }

     .index-si-tag {
       width: 97%;
       @apply p-1 mb-2 shadow rounded m-auto cursor-pointer;
       @apply bg-white;

       .index-si-tag-title {
         @apply m-1 p-1 text-base font-semibold bg-gray-200 text-gray-900;
       }


     }

     // 分类
     .index-si-type {
       width: 97%;
       @apply p-1 mb-2 shadow rounded m-auto;
       @apply bg-white;

       .index-si-type-title {
         @apply text-gray-900 text-base p-1 m-1 font-semibold bg-gray-200 cursor-pointer;
       }

       .index-si-type-text {
         @apply p-1 bg-gray-100 rounded;
       }
     }


     .index_si_input {
       width: 97%;
       @apply flex p-2 mt-1 mb-2 shadow rounded m-auto;
       @apply bg-white;

       div>input {
         @apply bg-gray-100 rounded ml-1;
         height: 30px;
       }

       div>button {
         @apply text-base font-medium ml-3;
         height: 30px;

       }

     }

     .index-si-article {
       width: 97%;
       @apply p-1 mb-2 cursor-pointer bg-white;
       @apply shadow rounded m-auto;

       .index-si-article-title {
         @apply p-1 m-1 text-base font-semibold bg-gray-200;
       }

       .index-si-article-div {
         background-color: white;
         border-bottom: 1px dashed #f1f1f1;

         .index-si-article-text {
           @apply p-1 m-1;
         }
       }
     }
   }


 }

 //  .index_sidebar::-webkit-scrollbar {
 //    display: none;
 //  }

 .icon {
   @include w-h(1.5em, 1.5em);
   vertical-align: -0.1em;
   fill: currentColor;
   overflow: hidden;
 }

 @screen xp {
   #index_sidebar {
     display: none;
   }
 }