  @import "../../../assets/sass/uitl.scss";
  @import "../../../assets/sass/com.scss";

  .header-sn {
    @include w-h(94%, 62px);
    @apply flex fixed z-10;
    @include excursion(0, null, 3%, null);
    @apply p-2 shadow-sm rounded-sm;
    @apply bg-white;

    .header-title {

      @apply flex items-center flex-shrink-0;
    }

    .header_main {
      width: 100%;
      @apply w-full text-lg;

      .header_text {
        @apply w-full h-full relative;

        div {
          @apply w-full absolute;
          left: 0%;
          top: 20%;

          a {
            @apply ml-3;
          }

          .header_text_text {
            @apply float-right;
          }
        }
      }
    }
  }

  @screen xp {
    .header-sn {
      width: 100%;
      @include excursion(0, null, 0, null);

      a {
        @apply hidden;
      }
    }
  }