 @import "../../assets/sass/com";
 @import "../../assets/sass/uitl";

 #BlogSidebar {
   @include w-h(20%, 100%);
   @include excursion($Text_height, null, 3%, null);
   background-color: $back_sidebar;
   @apply shadow rounded-md fixed;

   .si_scroll {
     @apply h-4/5 overflow-auto;

     .si_img {
       img {
         @include w-h(100%, 144px);
         @apply rounded-md;
       }
     }

     .si_text {
       @include initialize(40%, 30px, 5px, auto, auto, auto, null);
       @apply text-center antialiased cursor-pointer;

       p {
         @apply py-1 px-4 text-base font-light;
       }
     }

     .si_website {
       position: absolute;
       bottom: 18%;
       margin-left: 25%;
     }

     .si_described {
       position: absolute;
       bottom: 12%;
       @apply text-xs;

       .si_described_text {
         text-align: center;
         color: #333336;
       }
     }
   }

   .si_scroll::-webkit-scrollbar {
     display: none;
   }
 }

 @screen xp {
   #BlogSidebar {
     display: none;
   }
 }