 @import "../../assets/sass/com";
 @import "../../assets/sass/uitl";

 .sidebarsn {
   position: relative;
   @include w-h(20%, 100%);
   position: fixed;
   @include excursion($Text_height, null, 3%, null);
   background-color: $back_sidebar;
   @apply shadow rounded-md;

   .si_scroll {
     height: 80%;
     overflow: auto;

     .bgys {
       position: absolute;
       top: 0;
       @include w-h(100%, 100%);
     }

     .si_img {
       img {
         @include w-h(100%, 140px);
         @apply rounded-md;
       }
     }

     .si_text {
       // background-color: #55a532;
       @include initialize(40%, 30px, 5px, auto, auto, auto, null);
       @apply text-center antialiased cursor-pointer;

       p {
         @apply py-1 px-4 text-base font-light;
       }
     }

     .si_website {
       position: absolute;
       bottom: 18%;
       margin-left: 25%;
     }

     .si_described {
       position: absolute;
       bottom: 12%;
       @apply text-xs;

       .si_described_text {
         text-align: center;
         color: #333336;
       }
     }
   }

   .si_scroll::-webkit-scrollbar {
     display: none;
   }
 }