@import "../../assets/sass/com";
@import "../../assets/sass/uitl";

.One {
  position: fixed;
  @include w-h(100%, 100%);
  @apply bg-red-400;

  .One-div {
    @include initialize($w, 90%, 3.6%, null, $ml, null, #ffffff);
    @apply shadow-sm rounded-sm overflow-auto;


    .One-top {
      @include w-h(100%, 55%);

      .One-top-img {
        @include w-h(45%, 76.5%);
        @apply float-left;

        img {
          @include w-h(100%, 100%);
        }
      }

      .One-top-text {
        @include w-h(55%, 100%);
        @apply float-right;

        .One-top-text-title {
          @apply text-center m-1 pt-2;
          height: 19%;
        }

        .One-top-give {
          height: 55%;

          @include line-numbers(5);
          @apply m-1 px-4 py-4 font-thin leading-loose tracking-wide text-center shadow-2xl;
        }

        .One-top-give-div {
          @apply m-1 cursor-pointer;
          height: 17%;

          div {
            @apply px-2 py-2 m-1 text-center text-gray-700;
          }
        }
      }
    }

    .One-recommend {
      @include w-h(100%, 30px);
      @apply px-2 my-1 mt-1 shadow bg-gray-100;

      .One-recommend-l {
        @apply float-left;
        @apply text-lg;
      }

      .One-recommend-r {
        @apply float-right;
        @apply text-lg;
      }
    }

    .One-list {

      @apply flex flex-wrap;

      .One-list-div {
        height: 150px;
        width: 31%;
        @apply mt-1 m-auto;
        @apply relative shadow rounded-sm cursor-pointer;

        .One-list-div-frame {

          @apply w-full h-full;

          .One-list-div-frame-title {
            height: 23%;
            @apply m-1 px-1 text-base font-semibold bg-gray-100;
            @include line-ome;
          }

          .EverydayOne-3-p2 {
            height: 15%;
            @apply px-3 text-xs;
          }

          .One-list-div-frame-text {
            @apply px-2 m-1 p-1 text-sm font-thin;
            height: 55%;
            @include line-numbers(4);
          }
        }
      }
    }
  }
}

@screen xp {
  .OneSidebar {
    @apply hidden;
  }

  .One .One-div {
    @apply w-full ml-0 mb-14;
  }

  .One .One-div .One-list .One-list-div {
    @apply w-full ml-0;
  }
}