 @import "../../assets/sass/com";
 @import "../../assets/sass/uitl";

 .n-nav {
   @include initialize($w, null, $Text_height, null, $ml, null, #ffffff);
   @apply shadow rounded-sm;

   .n-nav-text {
     @apply grid 2xl: grid-cols-4 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1;

     .n-nav-1 {
       @include w-h(null, 200px);
       @apply shadow rounded-sm;
       margin: 10px;

       .n-nav-1-1 {
         img {
           @include w-h(100%, 100%);
         }
       }

       .n-nav-1-2 {
         /*background-color: #1e7e34;*/
         padding: 5px;
       }

       .n-nav-1-3 {
         padding: 5px;
         /*background-color: #795da3;*/
         @include w-h(null, 42px);
         @include line-number;
       }
     }
   }
 }