@import '@/design/methodCss';
@import '@/design/uitl';

.TalkSidebar {
  @apply fixed ml-3;

  @include excursion($Text_height, null, null, $sidebar_r_r);
  @include w-h(20%, 90%);

  color: #888;
  font-size: 17px;

  .TalkSidebar-text {
    @apply w-full h-full overflow-auto;

    .TalkSidebar-text-1 {
      width: 100%;
      height: 50px;

      @apply mb-3 m-auto;
      @apply shadow rounded;

      .TalkSidebar-text-1-1 {
        @include w-h(60%, 100%);

        margin: 0 auto;

        .TalkSidebar-text-1-2 {
          @apply text-center py-2 m-1 cursor-pointer;
        }
      }
    }

    .TalkSidebar-text-2 {
      width: 100%;

      @apply mb-3 m-auto;
      @apply shadow rounded;
    }

    .TalkSidebar-text-3 {
      width: 100%;

      @apply mb-3 m-auto;
      @apply shadow rounded;

      #calendar {
        height: 200px;
      }
    }

    .el-calendar-table .el-calendar-day {
      height: 44px !important;
    }

    .sn-list4 {
      @apply mb-2 w-full m-auto;
      @apply shadow rounded bg-white text-center;

      .sn-list4-1 {
        p {
          @apply text-sm px-2 py-4 m-1 cursor-pointer;
        }
      }
    }

    .sn-list7 {
      @apply p-1 mb-2 w-full m-auto cursor-pointer;
      @apply shadow rounded bg-white;

      //@include gradient-text;

      .sn-list7-1 {
        color: #1b1e21;

        p {
          @apply text-sm px-2 py-2 cursor-pointer;
        }
      }
    }

    .sn-list8 {
      @apply w-full p-1 mb-2 m-auto cursor-pointer;
      @apply shadow rounded bg-white;

      .sn-list8-1 {
        color: #1b1e21;
      }

      .sn-list8-2 {
        @apply text-sm m-2;

        .sn-list8-2-1 {
          .sn-list8-2-1-1 {
            @apply p-1;

            width: 35%;
          }

          .sn-list8-2-1-2 {
            width: 40%;

            @apply p-1;
          }
        }
      }
    }

    .sn-list3 {
      @apply w-full p-1 mb-2 m-auto cursor-pointer;
      @apply shadow rounded bg-white;

      .sn-list3-1 {
        @apply m-1 p-1 text-sm font-semibold bg-gray-200;

        color: #1b1e21;
      }

      .sn-list3-2 {
        @apply inline-flex;

        .sn-list3-2-1 {
          @apply flex-1;
          @apply text-gray-700 text-xs text-center px-1 m-1;
        }
      }
    }

    .sn-list5 {
      width: 100%;
      margin: 0 auto;

      @apply w-full p-1 mb-2 m-auto;
      @apply shadow rounded bg-white;

      .sn-list5-1 {
        color: #1b1e21;
      }
    }

    .TalkSidebar-text-4 {
      @apply w-full p-1 mb-2 m-auto cursor-pointer bg-white;
      @apply shadow rounded;

      .TalkSidebar-text-4-1 {
        color: #1b1e21;
      }

      .TalkSidebar-text-4-2 {
        background-color: white;
        border-bottom: 1px dashed #f1f1f1;

        .TalkSidebar-text-4-2-1 {
          @apply m-1 pl-1 text-base;
        }
      }
    }
  }

  .TalkSidebar-text::-webkit-scrollbar {
    display: none;
  }
}

.icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.1em;
  fill: currentColor;
}
