@import "@/design/methodCss";
@import "@/design/uitl";

#svideo {
  @apply fixed w-full h-full;

  .svideo_main {
    @include initialize($w, 99%, 3.6%, null, $ml, null, #ffffff);

    @apply relative shadow rounded-sm;

    .svideo-1 {
      @include initialize(100%, null, 8px, null, 0%, null, null);

      @apply shadow-sm rounded-sm overflow-auto;

      .svideo_main_top {
        @apply py-1 m-2 text-base bg-gray-200 rounded text-center;
      }
    }

    .svideo_main_content {
      @include w-h(100%, 85%);

      @apply overflow-auto absolute top-3;

      .svideo-2-1 {
        @include w-h(31%, 50%);

        @apply shadow m-auto mt-4;

        .svideo-2-1-1 {
          height: 65%;

          img {
            @include w-h(100%, 100%);
          }
        }

        .svideo-2-1-2 {
          height: 18%;

          @apply text-sm p-1;

          @include line-one;
        }

        .svideo-2-1-3 {
          height: 17%;

          @apply p-1;
        }
      }
    }
  }
}

@screen xp {
  #svideo {
    .svideo_main {
      width: 100%;

      @apply m-0;

      .svideo_main_content {
        .svideo-2-1 {
          width: 97%;
          height: 65%;
        }
      }
    }
  }
}