 @import "../../design/com";
 @import "../../design/uitl";

 /* indexsidebar
----------------------------------------------------------------*/
 #indexsidebar {
   @apply fixed ml-3 overflow-auto;
   @include excursion($Text_height, null, null, $sidebar_r_r);
   @include w-h(20.4%, 93%);
   @apply bg-gray-100 shadow;

   .index_s_main {
     @include w-h(100%, 100%);

     /* 说显示描述内容 */
     .index_s_describe {
       width: 97%;
       color: #666;
       @apply mb-2 m-auto;
       @apply text-center rounded bg-white shadow;

       div>p {
         @apply px-1 py-2 m-1;
         @apply bg-gray-50 text-sm;
       }
     }

     .index-si-count {
       width: 97%;
       @apply p-1 mb-2 shadow rounded m-auto cursor-pointer;
       @apply bg-white;

     }

     /* 标签框内容 */
     .index_s_tag {
       width: 97%;
       @apply p-1 mb-2 m-auto cursor-pointer;
       @apply bg-white shadow rounded;

       .index_s_tag_name {
         @apply m-1 p-1;
         @apply text-base font-semibold bg-gray-200 text-gray-900
       }


     }

     /* 分类内容框 */
     .index_s_type {

       width: 97%;
       @apply p-1 mb-2 m-auto;
       @apply bg-white shadow rounded cursor-pointer;

       .index_s_type_name {
         @apply p-1 m-1 text-base font-semibold;
         @apply text-gray-900 bg-gray-200 cursor-pointer;
       }

       .index-si-type-text {
         @apply flex-1 px-1 p-1 m-1 text-sm text-center;
         @apply bg-gray-100 rounded;
       }
     }

     /* 搜索 */
     .index_s_input {
       width: 97%;
       @apply p-2 mt-1 mb-2 m-auto;
       @apply bg-white shadow rounded;
     }
   }
 }

 .icon {
   @include w-h(1.5em, 1.5em);
   vertical-align: -0.1em;
   fill: currentColor;
   overflow: hidden;
 }

 @screen xp {
   #indexsidebar {
     display: none;
   }
 }


 /* indexTitle
----------------------------------------------------------------*/
 .indextext {
   @include initialize($w, null, 1px, null, $ml, null, null);

   /* 底部信息 */
   .indextest_copyright {
     @apply shadow rounded;
     @apply cursor-pointer bg-white text-black;

     .indextest_copyright_title {
       @apply p-1;

       div {
         border-bottom: 1px dashed #f1f1f1;
         @apply p-1 m-1 text-sm font-light;
       }
     }

     .indextest_comment {
       @apply flex;

       .indextest_comment_text {
         @apply bg-blue-200 shadow rounded-sm;
       }

       div {
         @apply px-1 py-1 m-2 text-sm font-light text-center;
       }
     }
   }

   .icons {
     @include w-h(1.5em, 1.5em);
   }

   /*返回上一页*/
   .indexText_title {
     position: relative;
     @include initialize(null, 40px, 6.5%, null, null, null, #ffffff);
     @apply shadow rounded cursor-pointer;

     .ant-page-header-heading-title {
       @apply text-lg;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
     }

     .ant-page-header {
       @apply shadow-sm rounded-sm;
     }

     .ant-page-header-back {
       @apply mt-0;
     }
   }

   .blog {
     @include blogs;
   }
 }

 @screen xp {
   .indextext {
     width: 100%;
     @apply ml-0;
   }
 }


 /* indextitle
----------------------------------------------------------------*/
 .indextitle {

   @include initialize(50%, 92%, 3.6%, null, 25%, null, null);
   @apply shadow;


   .indextitle_img {
     @include w-h(null, 160px);
     background: no-repeat center/100% url("../../assets/img/bg.jpg");
     @apply shadow;
   }

   .indextitle_content {
     @include w-h(99%, 155px);
     @apply mb-3 mt-2 m-auto;
     @apply bg-white shadow rounded-md;

     .indextitle_text_div {

       @apply flex;
       @include w-h(null, 79%);

       .indextitle_title_div {
         @include w-h;

         .indextitle_title {
           height: 25%;
           @apply px-3 pt-1 m-1;
           @apply text-base font-semibold cursor-pointer;
           @include line-ome;
         }

         .indextitle_title_text {
           color: #666;
           @include w-h(null, 55%);
           @apply px-3 m-1 mt-2;
           @apply text-sm font-thin leading-relaxed;
           @include line-numbers(3);
         }

         .indextitle_user {
           @apply flex m-1 mx-3;

           div {
             @apply m-1;
             @apply text-center;
           }
         }

       }
     }
   }

   .indextitle_page {
     @apply w-full py-4 bg-white shadow rounded;
   }
 }

 @screen xp {
   .index_s_div {
     @apply hidden;
   }

   .sidebarsn {
     @apply hidden;
   }

   .indextitle {
     @apply w-full ml-0;

     .indextitle_img {
       @apply hidden;
     }
   }

   .indextitle_page {
     height: 110px;
   }
 }