 @import "@/design/methodCss.scss";
 @import "@/design/uitl";


/* BlogHeader 
----------------------------------------------------------------*/
.header-sn {
  @apply flex fixed z-10 p-2;
  @include excursion(0, null, 3%, null);
  @include w-h(94%, 6.5%);
  @apply shadow-sm rounded-sm bg-white;

  .header-sn-1 {
    @apply flex flex-wrap w-full;
  }


  .header_main {
    width: 90%;
    @apply flex h-full text-lg;

    .header-title {
      @apply flex items-center flex-shrink-0 h-full;
    }

    .header_text {
      @apply w-full flex items-center flex-shrink-0;

      a {
        @apply ml-3;
      }

    }

  }

  .header_text_1 {
    width: 10%;
    @apply flex text-lg h-full;

    .header-text-r-1 {
      @apply flex items-center flex-shrink-0;

      a {
        @apply m-1;
      }
    }

  }
}

@screen xp {
  .header-sn {
    width: 100%;
    @include excursion(0, null, 0, null);

    .header-sn-1 {
      @apply hidden;
    }

  }
}