$boxshow1: 0 2px 1px -2px rgba(0, 0, 0, .2);
$boxshow2: 0 2px 2px 0 rgba(0, 0, 0, .14);
$boxshow3: 0 1px 5px 0 rgba(0, 0, 0, .12);

/* 背景3d边框*/
@mixin boxshow {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-shadow: $boxshow1, $boxshow2, $boxshow3;
  box-shadow: $boxshow1, $boxshow2, $boxshow3;
}

$boxshow11: 0 1px 1px -2px rgba(0, 0, 0, .2);
$boxshow22: 0 1px 2px 0 rgba(0, 0, 0, .14);
$boxshow33: 0 1px 3px 0 rgba(0, 0, 0, .12);

/* 背景3d边框*/
@mixin boxshow1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: $boxshow11, $boxshow22, $boxshow33;
  box-shadow: $boxshow11, $boxshow22, $boxshow33;
}

@mixin boxshow2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 1px -2px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 2px 0 rgba(0, 0, 0, .10);
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 2px 0 rgba(0, 0, 0, .10);
}

@mixin boxshow3 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}


//波浪线
@mixin waveline($h, $color: #f66) {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: $h;
    background: linear-gradient(135deg, transparent, transparent 45%, $color, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, $color, transparent 55%, transparent 100%);
    background-size: $h * 2 $h * 2;
    content: "";
  }
}

.waveline-text {
  height: 20px;
  line-height: 20px;
  letter-spacing: 10px;
  @include waveline(10px);
}


// 渐变色文字
@mixin gradient-text() {
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
  color: transparent;
}