$boxshow1: 0 2px 1px -2px rgba(0, 0, 0, .2);
$boxshow2: 0 2px 2px 0 rgba(0, 0, 0, .14);
$boxshow3: 0 1px 5px 0 rgba(0, 0, 0, .12);

/* 背景3d边框*/
@mixin boxshow {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-shadow: $boxshow1, $boxshow2, $boxshow3;
  box-shadow: $boxshow1, $boxshow2, $boxshow3;
}

$boxshow11: 0 1px 1px -2px rgba(0, 0, 0, .2);
$boxshow22: 0 1px 2px 0 rgba(0, 0, 0, .14);
$boxshow33: 0 1px 3px 0 rgba(0, 0, 0, .12);

/* 背景3d边框*/
@mixin boxshow1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: $boxshow11, $boxshow22, $boxshow33;
  box-shadow: $boxshow11, $boxshow22, $boxshow33;
}

@mixin boxshow2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 1px -2px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 2px 0 rgba(0, 0, 0, .10);
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 2px 0 rgba(0, 0, 0, .10);
}

@mixin boxshow3 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}


//波浪线
@mixin waveline($h, $color: #f66) {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: $h;
    background: linear-gradient(135deg, transparent, transparent 45%, $color, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, $color, transparent 55%, transparent 100%);
    background-size: $h * 2 $h * 2;
    content: "";
  }
}

.waveline-text {
  height: 20px;
  line-height: 20px;
  letter-spacing: 10px;
  @include waveline(10px);
}


// 渐变色文字
@mixin gradient-text() {
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
  color: transparent;
}

// 下划线
@mixin underline {
  border-bottom: 1px dashed #f1f1f1;
}


// 页面初始化
@mixin initialize($w, $h, $mt, $mb, $ml, $mr, $bg) {

  @if $w !=null {
    width: $w;
  }

  @if $h !=null {
    height: $h;
  }

  @if $mt !=null {
    margin-top: $mt;
  }

  @if $mb !=null {
    margin-bottom: $mb;
  }

  @if $ml !=null {
    margin-left: $ml;
  }

  @if $mr !=null {
    margin-right: $mr;
  }

  @if $bg !=null {
    background-color: $bg;
  }

}

// 宽高
@mixin w-h($w, $h) {
  @if $w !=null {
    width: $w;
  }

  @if $h !=null {
    height: $h;
  }
}

// 背景图片
@mixin bg-img($imgurl) {
  background: no-repeat center/100% url($imgurl);
}


/*图片模糊*/
@mixin img-dim {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* chrome, opera */
  -ms-filter: blur(1px);
  -moz-filter: blur(1px);
  transform: scale(1.1);
}

// 行数
@mixin line-number {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; //需要显示的行数
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin scroll {

  // 滚动条美化
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101f1c, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#101f1c, 0.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(#101f1c, 1);
  }
}

// 偏移
@mixin excursion($t, $b, $l, $r) {

  @if $t !=null {
    top: $t;
  }

  @if $b !=null {
    bottom: $b;
  }

  @if $l !=null {
    left: $l;
  }

  @if $r !=null {
    right: $r;
  }

}